@media (min-width: 1280px) and (max-width: 1919px) {

#hero {
    width: 1280px;
    height: 768px;
    display: flex;
    flex-direction: column;
    background-image: url(../assets/bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#heroHeader {
    display: flex;
    width: 1280px;
    height: 62px;
    margin-top: 18px;
    border-bottom: 1px solid rgba(256, 256, 256, .2);    
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    display: flex;
    width: 250px;
    margin-left: 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#burgerImg {
    width: 40px;
    height: 22px;
}

#logoImg {
    width: 157px;
    height: 25px;
}

#info {
    display: flex;
    width: 460px;
    margin-right: 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#infoEmail {
    font-size: 12px;
    color: rgba(256, 256, 256, .5);
    letter-spacing: -0.5px;    
}

#emailAddress a {
    margin-top: 6px;
    text-decoration: none;
    color: #FEE040; 
    font-size: 14px;
}

#emailAddress a img{
    width: 10px;
    height: 8px;
    margin-right: 9px;
}

#infoPhone {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    font-size: 12px;
    color: rgba(256, 256, 256, .5);
    letter-spacing: -0.5px;    
}

#infoPhone div img {
    opacity: 0.5;
}

#infoPhone a {
    margin-top: 7px;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: normal;
    font-weight: 700;
    color: rgba(256, 256, 256, 1.0);
}

#heroMain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#heroContent {
    display: flex;
    width: 1180px;
    height: 209px;
    margin-top: 128px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#heroContentHeader {
    width: 580px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

#heroContentBut {
    width: 340px;
    height: 194px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

#heroContentHeader h3 {
    font-family: 'Gilroy', sans-serif;
    font-size: 42px;
    color: rgba(256, 256, 256, 1.0);
    letter-spacing: -0.5px;
    font-weight: 500;
    margin-bottom: 0px;
}

#heroContentHeader p {    
    font-size: 20px;
    line-height: 34px;
    color: rgba(256, 256, 256, .7);
}

#heroContentBut button {
    width: 340px;
    height: 70px;
    font-family: 'Gilroy', sans-serif;
    background-color: #FEE040;
    border-radius: 2px;
    border: none;
    outline: none;
    color: #000000;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    background-repeat: no-repeat;
}

#heroContentBut button img {
    width: 12px;
    height: 12px;
    margin-right: 10px;
}

#heroContentBut p {
    font-size: 15px;
    line-height: 28px;
    letter-spacing: -0.1px;
    color: rgba(256, 256, 256, 1.0);
}

#heroBot {
    width: 1110px;
    height: 228px;
    margin-top: 61px;
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    justify-content: space-between;
}

#heroBotFeatures {
    width: 930px;
    height: 56px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

#heroBotFeatures div{  
    width: 300px;  
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

#heroBotFeatures div img {    
    width: 52px;
    height: 46px;
    margin-right: 27px;
}

#heroBotFeatures div p {    
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.5px;
    color: #FFFFFF;
}

#heroBotVideo {
    display: flex;
    width: 180px;
    height: 180px;
    background-image: url(../assets/video.png);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}



#heroBotVideo a img {
    width: 20px;
    height: 23px;
}

}